version: '3'
services:
  neo4j:
    image: neo4j
    container_name: neo4j
    ports:
      - "7473:7473"
      - "7474:7474"
      - "7687:7687"
    volumes: 
      - "./data:/data"
      - "./logs:/logs"
      - "./conf:/conf"
      - "./import:/var/lib/neo4j/import"
      - "./plugins:/plugins"
    environment: 
      NEO4J_dbms_connector_bolt_advertised__address: "127.0.0.1:7687"
      NEO4J_AUTH: "neo4j/neko"
      NEO4J_HEAP_MEMORY: "3G"
      NEO4J_CACHE_MEMORY: "1.5G"
      NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
      dbms.security.allow_csv_import_from_file_urls: "true"
  
